html {
    position: relative;
    min-height: 100%;
}
body {
       padding-top: 60px;
       font-size:25px;
       font-family: 'Dancing Script', cursive;
       padding-bottom: 100px;
       

      }
.container{      
        padding-top:5px;
        display: block;
        margin-top: 20px;
        margin-left:300px;
        margin-right: auto;
        width: 50%;    
}

td,th { 
    border: 1px solid #ddd;
     padding: 18px;
    text-align: center;
}
#Table{ 
    font-family: 'Open Sans', sans-serif;
border-collapse: collapse;
margin-bottom: 15px;
}
#Table tr:nth-child(odd){ 
background-color: #f8f9fa;
text-align: center;
font-family: 'Open Sans', sans-serif;
}
#Table tr:nth-child(even){ 
background-color: #f1beef; 
font-family: 'Open Sans', sans-serif;
}
#Table tr:hover{ 
    background-color: #f3a9e9;
 }
#Table th { 
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    background-color: #e937cb;
    color:white;
    font-family: 'Open Sans', sans-serif; 
}
footer {
    /* background-color: #e8d7a2; */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
  
}